// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$background:#E8F1F2;
$warmone:#947069;
$warmonedark:#523631;
$warmtwo:#FECEB5;
$coldone:#153243;
$coldtwo:#284B63;
$accent: #FF4B0A;
