// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$background:rgb(83, 104, 126);
$foreground:rgb(58, 68, 84);
$font:rgb(245, 221, 221);
$border:rgb(107, 78, 113);
$details:rgb(194, 178, 180);
