// Specific CSS for your home-page
html, body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
}

.mydimension{
  overflow-x: hidden;
  max-width: 100%;
}

.titlebodycard {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: blackopacitychange;
  animation-duration: 10s;
  animation-fill-mode: forwards
}
@keyframes blackopacitychange {
  0% {background-color: rgb(0, 0, 0);}
  80% {background-color: rgb(0, 0, 0,);}
  100% {background-color: rgba(0, 0, 0, 1);}
}



.titlecard h1{
  padding: 5px;
  color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(45deg, rgb(0, 234, 246),rgb(2, 205, 219),rgb(33, 139, 146),rgb(5, 42, 75), rgb(0, 0, 0));
  background-clip: text;
  background-size: 1000%;
  font-size: calc((10vh + 10vw) / 3);
  background-repeat: no-repeat;
  animation-name: titlechange, titleshadowchange;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards
}
@keyframes titlechange {
  0% {background-size: 0%;}
  10% {background-size: 0%;}
  90% {opacity: 1;}
  100% {background-size: 1000%;
  opacity: 0;}
}
@keyframes titleshadowchange {
  0% {text-shadow: 0px 0px 5px rgb(0, 0, 0);}
  70% {text-shadow: 0px 0px 5px rgb(0, 0, 0);}
  88% {text-shadow: 0px 0px 5px rgba(10, 251, 255, 0.4);}
  93% {text-shadow: 0px 0px 5px rgba(22, 251, 255, 0.6);}
  100% {text-shadow: 0px 0px 5px rgba(11, 255, 255, 0.4);}
}

.dot {
  z-index: 10;
  padding-left: 5px;
  padding-bottom: 8px;
  padding-right: 5px;
  font-family: 'Permanent Marker', cursive;
  color: transparent;
  background: linear-gradient(180deg, rgb(213, 0, 246),rgb(205, 2, 219),rgb(140, 33, 146),rgb(43, 5, 75), rgb(0, 0, 0));
  background-clip: text;
  background-size: 10vh;
  background-position: bottom;
  font-size: calc((10vh + 10vw) / 2);
  background-repeat: no-repeat;
  animation-name: dotchange, dotshadowchange ;
  animation-delay: 4s;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both
}
@keyframes dotchange {
  0% {background-position: 0px -200px;}
  10% {background-position: 0px -200px;}
  30% {background-position: 0px 10px;}
  90% {opacity: 1;}
  100% {background-position: 0px 10px;
  opacity: 0;}
}
@keyframes dotshadowchange {
  0% {text-shadow: 0px 0px 13px rgb(0, 0, 0);}
  45% {text-shadow: 0px 0px 13px rgb(0, 0, 0);}
  90% {text-shadow: 0px 0px 13px rgba(131, 9, 117, 0.3);}
  100% {text-shadow: 0px 0px 13px rgba(127, 10, 123, 0.3);}
}


.nova{
  opacity: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-image: radial-gradient(circle, rgb(249, 254, 255) 0%, rgba(238, 55, 255, 0.739) 25%, rgba(208, 36, 255, 0) 40%, rgba(0, 0, 0, 0) 92%);
  background: cover;
  animation-name: novachange;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}
@keyframes novachange {
  0% {scale: 0%;
    opacity: 0.1;}
  10% {scale: 0%;
    opacity: 0.3;}
  70% {scale: 2000%;
    opacity: 1;}
  100% {scale: 1000%;
    opacity: 0;}
}

.bodycard{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}



.nebulaone{
  height: 140vh;
  background: radial-gradient(circle, rgb(255, 84, 238) 0%, rgba(231,83,117,1) 50%, rgba(137,78,154,1) 74%, rgba(69,22,116,1) 84%, rgb(15, 0, 65) 92%);
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nonechangeone;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.nebulatwo{
  height: 140vh;
  background: linear-gradient(135deg, rgba(13, 194, 255, 0.7) 0%, rgba(231,83,117,0.5) 50%, rgb(7, 28, 66) 74%, rgba(69,22,116,0.8) 84%, rgba(5, 1, 115, 0.7) 92%);
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: ntwochange;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}
@keyframes ntwochange {
  0% {opacity: 0;}
  100% {opacity: 0.4;}
}

.nebulathree{
  height: 140vh;
  background: linear-gradient(286deg, rgba(47, 8, 199, 0.6) 0%, rgba(22, 17, 65, 0.8) 50%, rgba(137,78,154,0.6) 74%, rgba(69,22,116,0.9) 84%, rgba(11, 0, 97, 0.8) 92%);
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nthreechange;
  animation-delay: 8s;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}
@keyframes nthreechange {
  0% {opacity: 0;}
  100% {opacity: 0.4;}
}

.nebulafour{
  height: 140vh;
  background: linear-gradient(240deg, rgba(64, 0, 191, 0.6) 10%, rgba(52,6,17,1) 24%, rgba(42, 15, 97, 0.8) 59%, rgba(137,78,154,0.8) 74%, rgba(69,22,116,0.8) 84%);
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nfourchange;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}
@keyframes nfourchange {
  0% {opacity: 0;}
  100% {opacity: 0.4;}
}



.skyone{
  width: calc((100vh + 100vw) );
  height: calc((100vh + 100vw) );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,1) 0%, rgba(35,8,72,0.7) 60%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:-20vh;
  right:0px;
  bottom:0px;
  left:30vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.skytwo{
  width: calc((200vh + 200vw) );
  height: calc((200vh + 200vw) );
  overflow: hidden;
  background: radial-gradient(circle, rgba(35, 8, 72, 0) 0%, rgba(35, 8, 72, 0) 60%, rgb(49, 5, 96) 75%, rgb(36, 6, 80) 100%);
  opacity: 0;
  position: absolute;
  top:-64vh;
  right:0px;
  bottom:0px;
  left:-10vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}



.splotchone{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(23, 1, 54, 0.778) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:90vh;
  right:0px;
  bottom:0px;
  left:15vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwo{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:60vh;
  right:0px;
  bottom:0px;
  left:5vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchthree{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:40vh;
  right:0px;
  bottom:0px;
  left:10vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchfour{
  width: calc((100vh + 100vw) / 6 );
  height: calc((100vh + 100vw) / 6 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,1) 0%, rgba(35,8,72,0.9) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:20vh;
  right:0px;
  bottom:0px;
  left:20vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchfive{
  width: calc((100vh + 100vw) / 6 );
  height: calc((100vh + 100vw) / 6 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:10vh;
  right:0px;
  bottom:0px;
  left:30vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchsix{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:-20vh;
  right:0px;
  bottom:0px;
  left:50vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchseven{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.5) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:80vh;
  right:0px;
  bottom:0px;
  left:10vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.splotcheight{
  width: calc((100vh + 100vw) / 7 );
  height: calc((100vh + 100vw) / 7 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14, 0, 45, 0) 0%, rgba(35, 8, 72, 0.7) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top:50vh;
  right:0px;
  bottom:0px;
  left:20vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchnine{
  width: calc((100vh + 100vw) / 8 );
  height: calc((100vh + 100vw) / 8 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:10vh;
  right:0px;
  bottom:0px;
  left:35vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchten{
  width: calc((100vh + 100vw) / 9 );
  height: calc((100vh + 100vw) / 9 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(29, 2, 61, 0.5) 0%, rgba(35, 8, 72, 0.6) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top:30vh;
  right:0px;
  bottom:0px;
  left:20vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotcheleven{
  width: calc((100vh + 100vw) / 8 );
  height: calc((100vh + 100vw) / 8 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:-7vh;
  right:0px;
  bottom:0px;
  left:40vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwelve{
  width: calc((100vh + 100vw) / 8 );
  height: calc((100vh + 100vw) / 8 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:0vh;
  right:0px;
  bottom:0px;
  left:40vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchthirteen{
  width: calc((100vh + 100vw) / 4 );
  height: calc((100vh + 100vw) / 4 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:-40vh;
  right:0px;
  bottom:0px;
  left:55vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchfourteen{
  width: calc((100vh + 100vw) / 6 );
  height: calc((100vh + 100vw) / 6 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.9) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:70vh;
  right:0px;
  bottom:0px;
  left:5vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchfifteen{
  width: calc((100vh + 100vw) / 12 );
  height: calc((100vh + 100vw) / 12 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.7) 0%, rgba(35,8,72,0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:15vh;
  right:0px;
  bottom:0px;
  left:50vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchsixteen{
  width: calc((100vh + 100vw) / 9 );
  height: calc((100vh + 100vw) / 9 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.2) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:40vh;
  right:0px;
  bottom:0px;
  left:10vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchseventeen{
  width: calc((100vh + 100vw) / 8 );
  height: calc((100vh + 100vw) / 8 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:20vh;
  right:0px;
  bottom:0px;
  left:40vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotcheighteen{
  width: calc((100vh + 100vw) / 8 );
  height: calc((100vh + 100vw) / 8 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.4) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:60vh;
  right:0px;
  bottom:0px;
  left:10vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchnineteen{
  width: calc((100vh + 100vw) / 9 );
  height: calc((100vh + 100vw) / 9 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:60vh;
  right:0px;
  bottom:0px;
  left:10vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwenty{
  width: calc((100vh + 100vw) / 6 );
  height: calc((100vh + 100vw) / 6 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:0vh;
  right:0px;
  bottom:0px;
  left:35vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentyone{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(23, 1, 54, 0.778) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:96vh;
  right:0px;
  bottom:0px;
  left:20vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentytwo{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:100vh;
  right:0px;
  bottom:0px;
  left:25vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentythree{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:110vh;
  right:0px;
  bottom:0px;
  left:30vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.splotchtwentyfour{
  width: calc((100vh + 100vw) / 6 );
  height: calc((100vh + 100vw) / 6 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,1) 0%, rgba(35,8,72,0.9) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:95vh;
  right:0px;
  bottom:0px;
  left:27vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentyfive{
  width: calc((100vh + 100vw) / 6 );
  height: calc((100vh + 100vw) / 6 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:10vh;
  right:0px;
  bottom:0px;
  left:30vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentysix{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.9) 0%, rgba(35,8,72,0.7) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:-20vh;
  right:0px;
  bottom:0px;
  left:50vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentyseven{
  width: calc((100vh + 100vw) / 5 );
  height: calc((100vh + 100vw) / 5 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.8) 0%, rgba(35,8,72,0.6) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:80vh;
  right:0px;
  bottom:0px;
  left:10vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.splotchtwentyeight{
  width: calc((100vh + 100vw) / 7 );
  height: calc((100vh + 100vw) / 7 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.7) 0%, rgba(35,8,72,0.5) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:128vh;
  right:0px;
  bottom:0px;
  left:39vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.splotchtwentynine{
  width: calc((100vh + 100vw) / 8 );
  height: calc((100vh + 100vw) / 8 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.8) 0%, rgba(35,8,72,0.6) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:123vh;
  right:0px;
  bottom:0px;
  left:44vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


//bright ones after this________________________________________________________________________

.brightone{
  width: calc((100vh + 100vw) / 12 );
  height: calc((100vh + 100vw) / 12 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.6) 0%, rgba(105, 27, 127, 0.31) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top:15vh;
  right:0px;
  bottom:0px;
  left:50vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brighttwo{
  width: calc((100vh + 100vw) / 17 );
  height: calc((100vh + 100vw) / 17 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.6) 0%, rgba(35,8,72,0.2) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:37vh;
  right:0px;
  bottom:0px;
  left:17vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightthree{
  width: calc((100vh + 100vw) / 15);
  height: calc((100vh + 100vw) / 15);
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.6) 0%, rgba(112, 47, 104, 0.3) 40%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 37vh;
  right: 0px;
  bottom: 0px;
  left: 46vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightfour{
  width: calc((100vh + 100vw) / 10 );
  height: calc((100vh + 100vw) / 10 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.5) 0%, rgba(112, 47, 104, 0.3) 30%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:60vh;
  right:0px;
  bottom:0px;
  left:35vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightfive{
  width: calc((100vh + 100vw) / 18 );
  height: calc((100vh + 100vw) / 18 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.3) 0%, rgba(112, 47, 104, 0.1) 40%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:60vh;
  right:0px;
  bottom:0px;
  left:5vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightsix{
  width: calc((100vh + 100vw) / 15);
  height: calc((100vh + 100vw) / 15);
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.5) 0%, rgba(112, 47, 104, 0.2) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 29vh;
  right: 0px;
  bottom: 0px;
  left: 47vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightseven{
  width: calc((100vh + 100vw) / 12);
  height: calc((100vh + 100vw) / 12);
  overflow: hidden;
  background: radial-gradient(circle, rgba(112, 47, 104, 0.4) 0%, rgba(112, 47, 104, 0.1) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 30vh;
  right: 0px;
  bottom: 0px;
  left: 50vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}





.brightoneshadow{
  width: calc((100vh + 100vw) / 12 );
  height: calc((100vh + 100vw) / 12 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:18vh;
  right:0px;
  bottom:0px;
  left:48vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brighttwoshadow{
  width: calc((100vh + 100vw) / 16 );
  height: calc((100vh + 100vw) / 16 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.4) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:38vh;
  right:0px;
  bottom:0px;
  left:15vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightthreeshadow{
  width: calc((100vh + 100vw) / 19 );
  height: calc((100vh + 100vw) / 19 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(42, 18, 71, 0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:38vh;
  right:0px;
  bottom:0px;
  left:46vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightfourshadow{
  width: calc((100vh + 100vw) / 10 );
  height: calc((100vh + 100vw) / 10 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(54, 10, 63, 0.3) 30%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:70vh;
  right:0px;
  bottom:0px;
  left:30vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightfiveshadow{
  width: calc((100vh + 100vw) / 14);
  height: calc((100vh + 100vw) / 14);
  overflow: hidden;
  background: radial-gradient(circle, rgba(14, 0, 45, 0.2) 0%, rgba(91, 10, 107, 0.1) 40%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 65vh;
  right: 0px;
  bottom: 0px;
  left: 5vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightsixshadow{
  width: calc((100vh + 100vw) / 16 );
  height: calc((100vh + 100vw) / 16 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14, 0, 45, 0.6) 0%, rgba(112, 47, 104, 0.1) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top:40vh;
  right:0px;
  bottom:0px;
  left:42vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightsevenshadow{
  width: calc((100vh + 100vw) / 16 );
  height: calc((100vh + 100vw) / 16 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35, 5, 71, 0.4) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:30vh;
  right:0px;
  bottom:0px;
  left:42vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brighteightshadow{
  width: calc((100vh + 100vw) / 12 );
  height: calc((100vh + 100vw) / 12 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.3) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:18vh;
  right:0px;
  bottom:0px;
  left:48vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightnineshadow{
  width: calc((100vh + 100vw) / 16 );
  height: calc((100vh + 100vw) / 16 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35,8,72,0.4) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:38vh;
  right:0px;
  bottom:0px;
  left:15vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brighttenshadow{
  width: calc((100vh + 100vw) / 15);
  height: calc((100vh + 100vw) / 15);
  overflow: hidden;
  background: radial-gradient(circle, rgba(14, 0, 45, 0.4) 0%, rgba(69, 0, 88, 0.1) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 77vh;
  right: 0px;
  bottom: 0px;
  left: 31vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightelevenshadow{
  width: calc((100vh + 100vw) / 10 );
  height: calc((100vh + 100vw) / 10 );
  overflow: hidden;
  background: radial-gradient(circle, #0e002db0 0%, rgba(22, 5, 52, 0.3) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 61vh;
  right: 0px;
  bottom: 0px;
  left: 27vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brighttwelveshadow{
  width: calc((100vh + 100vw) / 18 );
  height: calc((100vh + 100vw) / 18 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14, 0, 45, 0.1) 0%, rgba(54, 10, 63, 0.2) 30%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top: 66vh;
  right: 0px;
  bottom: 0px;
  left: 10vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightthirteenshadow{
  width: calc((100vh + 100vw) / 14);
  height: calc((100vh + 100vw) / 14);
  overflow: hidden;
  background: radial-gradient(circle, rgba(14, 0, 45, 0.5) 0%, rgba(26, 0, 52, 0.3) 50%, rgba(53, 15, 95, 0) 70%, rgba(69, 22, 116, 0) 100%);
  opacity: 0;
  position: absolute;
  top:35vh;
  right:0px;
  bottom:0px;
  left:40vw;
  animation-name: nonechangeeight;
  animation-delay: 7s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}


.brightfourteenshadow{
  width: calc((100vh + 100vw) / 16 );
  height: calc((100vh + 100vw) / 16 );
  overflow: hidden;
  background: radial-gradient(circle, rgba(14,0,45,0.6) 0%, rgba(35, 5, 71, 0.4) 50%, rgba(53,15,95,0) 70%, rgba(69,22,116,0) 100%);
  opacity: 0;
  position: absolute;
  top:30vh;
  right:0px;
  bottom:0px;
  left:42vw;
  animation-name: nonechangeeight;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}





//_here be done with nebula____________________________________________________________________


.starsbelownebulaone{
  position: absolute;
  transform: rotate(0.7turn);
  top: -570px;
  right: 29px;
  bottom: -368px;
  left: 558px;
}
.starsbelownebulatwo{
  position: absolute;
  transform: rotate(0.1turn);
  top: -200px;
  right: 29px;
  bottom: 604px;
  left: 306px;
}

.starbox{
  width: 100vw;
  height: 140vh;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nonechangeone;
  animation-delay: 10s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.starboxtwo{
  width: 100vw;
  height: 140vh;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: -266px;
  right: 0px;
  bottom: 0px;
  left: -353px;
  transform: rotate(0.01turn);
  animation-name: nonechangeeight;
  animation-delay: 10.3s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.starboxthree{
  width: 70vw;
  height: 84vh;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: -269px;
  right: 0px;
  bottom: 0px;
  left: 285px;
  transform: rotate(0.25turn);
  animation-name: nonechangeone;
  animation-delay: 10.4s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.starboxfour{
  width: 70vw;
  height: 84vh;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 207px;
  right: 0px;
  bottom: 0px;
  left: -15px;
  transform: rotate(0.5turn);
  animation-name: nonechangeeight;
  animation-delay: 9.8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}

.starcluster{
  position: absolute;
}
.starcluster:nth-child(1){
  top: 40%;
  left: 56%;
  height: 30vh;
  width: 20vw;
}
.starcluster:nth-child(2){
  top: 60%;
  left: 26%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(3){
  top: 40%;
  left: 56%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(4){
  top: 40%;
  left: 16%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(5){
  top: 00%;
  left: 76%;
  height: 20vh;
  width: 40vw;
}
.starcluster:nth-child(6){
  top: 60%;
  left: 06%;
  height: 40vh;
  width: 20vw;
}
.starcluster:nth-child(7){
  top: 20%;
  left: 76%;
  height: 20vh;
  width: 50vw;
}
.starcluster:nth-child(8){
  top: 30%;
  left: 46%;
  height: 20vh;
  width: 40vw;
}
.starcluster:nth-child(9){
  top: 30%;
  left: 36%;
  height: 40vh;
  width: 40vw;
}
.starcluster:nth-child(10){
  top: 20%;
  left: 46%;
  height: 20vh;
  width: 40vw;
}
.starcluster:nth-child(11){
  top: 60%;
  left: 46%;
  height: 50vh;
  width: 50vw;
}
.starcluster:nth-child(12){
  top: 30%;
  left: 76%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(13){
  top: 30%;
  left: 96%;
  height: 10vh;
  width: 10vw;
}
.starcluster:nth-child(14){
  top: 30%;
  left: 26%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(15){
  top: 30%;
  left: 56%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(16){
  top: 20%;
  left: 76%;
  height: 60vh;
  width: 60vw;
}
.starcluster:nth-child(17){
  top: 00%;
  left: 06%;
  height: 40vh;
  width: 40vw;
}
.starcluster:nth-child(18){
  top: 20%;
  left: 36%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(19){
  top: 60%;
  left: 76%;
  height: 20vh;
  width: 20vw;
}
.starcluster:nth-child(20){
  top: 40%;
  left: 86%;
  height: 30vh;
  width: 30vw;
}

.star{
  will-change: opacity;
  position: absolute;
  height: 1px;
  width: 1px;
  animation:shine 3s ease-in-out infinite;
  animation-delay: 10s;
}
.star:nth-child(1){
  top: 30%;
  left: 46%;
  background: rgba(255, 255, 255, 0.82);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.728),0 0 5px rgba(255, 255, 255, 0.884);
  animation-delay: 1.2s;
}
.star:nth-child(2){
  top: 13%;
  left: 51%;
  background: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.687);
  animation-delay: 1s;
}
.star:nth-child(3){
  top: 66%;
  left: 74%;
  background: rgb(253, 205, 205);
  box-shadow: 0 0 2px rgb(255, 255, 255);
  animation-delay: 1.5s;
}
.star:nth-child(4){
  top: 59%;
  left: 22%;
  background: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  animation-delay: 1.5s;
}
.star:nth-child(5){
  top: 56%;
  left: 74%;
  background: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  animation-delay: 1s;
}
.star:nth-child(6){
  top: 10%;
  left: 43%;
  background: rgb(148, 255, 255);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.753),0 0 4px rgba(255, 255, 255, 0.753);
  animation-delay: 2.1s;
}
.star:nth-child(7){
  top: 59%;
  left: 67%;
  background: rgba(255, 255, 255, 0.79);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  animation-delay: 2s;
}
.star:nth-child(8){
  top: 74%;
  left: 86%;
  background: rgb(255, 233, 152);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.836);
  animation-delay: 2.3s;
}
.star:nth-child(9){
  top: 50%;
  left: 03%;
  background: white;
  box-shadow: 0 0 4px rgb(255, 255, 255);
  animation-delay: 2.3s;
}
.star:nth-child(10){
  top: 33%;
  left: 20%;
  background: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  animation-delay: 2s;
}
.star:nth-child(11){
  top: 44%;
  left: 51%;
  background: rgb(255, 199, 199);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.779);
  animation-delay: 2.7s;
}
.star:nth-child(12){
  top: 29%;
  left: 67%;
  background: rgba(255, 255, 255, 0.737);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.884);
  animation-delay: 2.7s;
}
.star:nth-child(13){
  top: 8%;
  left: 9%;
  background: rgb(255, 213, 213);
  box-shadow: 0 0 4px rgb(255, 255, 255),0 0 8px rgb(255, 255, 255);
  animation-delay: 2.5s;
}
.star:nth-child(14){
  top: 66%;
  left: 22%;
  background: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  animation-delay: 2.5s;
}
.star:nth-child(15){
  top: 30%;
  left: 23%;
  background: rgba(255, 255, 255, 0.751);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
}
.star:nth-child(16){
  top: 24%;
  left: 45%;
  background: rgb(193, 255, 246);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.678);
  animation-delay: 2s;
}
.star:nth-child(17){
  top: 50%;
  left: 26%;
  background: rgb(255, 233, 200);
  box-shadow: 0 0 1px rgb(255, 255, 255);
}
.star:nth-child(18){
  top: 27%;
  left: 25%;
  background: rgba(255, 255, 255, 0.82);
  box-shadow: 0 0 2px rgb(255, 255, 255);
}
.star:nth-child(19){
  top: 67px;
  left: 68px;
  background: rgb(254, 182, 255);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.82);
}
.star:nth-child(20){
  top: 78%;
  left: 70%;
  background: white;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.434);
}
@keyframes shine{
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

.shootingstarbox{
  width: 100vw;
  height: 140vh;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nonechangeone;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}
.shootingstar{
  position: absolute;
  height: 1px;
  width: 1px;
}
.shootingstar:nth-child(1){
  top: 30%;
  left: 46%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(255, 255, 255),0 0 5px rgba(255, 255, 255, 0.884);
}
.shootingstar:nth-child(2){
  top: 13%;
  left: 51%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(255, 255, 255),0 0 5px rgba(255, 255, 255, 0.884);
}
.shootingstar:nth-child(3){
  top: 66%;
  left: 74%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(255, 255, 255),0 0 5px rgba(255, 255, 255, 0.884);
}
.shootingstar:nth-child(4){
  top: 59%;
  left: 22%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(255, 255, 255),0 0 5px rgba(255, 255, 255, 0.884);
}


//__stars and shootingstars placement finished here_______________________________________

.skybox{
  width: 100vw;
  height: 140vh;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(23,0,74,0.7) 0%, rgba(37,0,99,0.4) 14%, rgba(56,0,124,0) 40%,rgba(255, 0, 179, 0.3) 80%, rgba(255, 0, 102, 0.5) 95%, rgba(255, 0, 30, 0.6) 100%);
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nonechangeone;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}





.landbox{
  width: 100vw;
  height: calc((200vh + 200vw) );
  overflow: hidden;
  background: black;
  opacity: 0;
  position: absolute;
  top:140vh;
  right:0px;
  bottom:0px;
  left:0px;
  animation-name: nonechangeone;
  animation-delay: 5s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}





.thanks{
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  padding: 20vw;
  text-shadow: 0px 0px 5px #00f3ff, 0px 0px 20px #1f003f,0px 0px 15px #1f003f;
  animation-name: thankschange;
  animation-delay: 8s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards
}
@keyframes thankschange {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




@keyframes nonechangeone {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes nonechangeeight {
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}
