
<div class="titlebodycard">
  <div class="titlecard">
    <h1>Welcome to my Dimension</h1>
  </div>
  <div class="dot">
    <span>!</span>
  </div>
</div>
<div class="nova">
</div>

<div class="bodycard">
  <div class="nebulaone">
  </div>
  <div class="nebulatwo">
  </div>
  <div class="nebulathree">
  </div>
  <div class="nebulafour">
  </div>
  <div class="skyone">
  </div>
  <div class="skytwo">
  </div>
  <div class="thanks">
    <h1>...and thank you for visiting my creative space. I use this website to further develop my CSS skills, and, hopefully one day, show off a little bit.</h1>
  </div>
</div>
