<div class="norskbody">

  <div class="navigation">
    <%= link_to "setninger", norsksetninger_path, :class=>"navigationbutton" %>
    <%= link_to "adjectiv", norskadjectiv_path, :class=>"navigationbutton" %>
    <%= link_to "substantiv", norsksubstantiv_path, :class=>"navigationbuttondark" %>
    <%= link_to "ordbok", norskordbok_path, :class=>"navigationbutton" %>
  </div>


<div class="norskgramar">


    <div class="line">
      <div class="norskcardmaintitle">
        Substantiv
        <span class="comment">Nouns</span>
      </div>
    </div>
    <div class="line">
      <div class="norskcardmaintitle">
        Kjønn
        <span class="comment">Gender</span>
      </div>
      <div class="norskcardmaintitle">
        Entall
        <span class="comment">Singular</span>
      </div>
      <div class="norskcardmaintitle">
        Flertall
        <span class="comment">Plural</span>
      </div>
    </div>

    <div class="line">

      <div class="norskcardcategory">
        <div class="norskcardtitle">

        <span class="comment"></span>
        </div>
        <div class="norskcardtitle">
        hankjønn
        <span class="comment">masculine</span>
        </div>
        <div class="norskcardtitle">
        hunkjønn
        <span class="comment">feminine</span>
        </div>
        <div class="norskcardtitle">
        intetkjønn
        <span class="comment">   neuter   </span>
        </div>
        <div class="norskcardtitle">
        intetkjønn 2
        <span class="comment">   neuter   </span>
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">

        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>


      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
         ubestemt
          <span class="comment">indefinite (a, an)</span>
        </div>
        <div class="norskcard">
        <strong>en </strong> bil
        </div>
        <div class="norskcard">
        <strong>ei </strong> dør
        </div>
        <div class="norskcard">
        <strong>et </strong> eple
        </div>
        <div class="norskcard">
        <strong>et </strong> hus
        </div>


      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
          bestemt
          <span class="comment">definite (the)</span>
        </div>
        <div class="norskcard">
        bil<strong>en</strong>
        </div>
        <div class="norskcard">
        dør<strong>a</strong>
        </div>
        <div class="norskcard">
        epl<strong>et</strong>
        </div>
        <div class="norskcard">
        hus<strong>et</strong>
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
          ubestemt
          <span class="comment">indefinite (...s)</span>
        </div>
        <div class="norskcard">
        bil<strong>er</strong>
        </div>
        <div class="norskcard">
        dør<strong>er</strong>
        </div>
        <div class="norskcard">
        epl<strong>er</strong>
        </div>
        <div class="norskcard">
        hus
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
          bestemt
          <span class="comment">definite (the ...s)</span>
        </div>
        <div class="norskcard">
        bil<strong>ene</strong>
        </div>
        <div class="norskcard">
        dør<strong>ene</strong>
        </div>
        <div class="norskcard">
        epl<strong>ene</strong>
        </div>
        <div class="norskcard">
        hus<strong>ene</strong>
        </div>

      </div>


    </div>
  </div>

</div>
