<div class="norskbody">

  <div class="navigation">
    <%= link_to "setninger", norsksetninger_path, :class=>"navigationbutton" %>
    <%= link_to "adjectiv", norskadjectiv_path, :class=>"navigationbuttondark" %>
    <%= link_to "substantiv", norsksubstantiv_path, :class=>"navigationbutton" %>
  </div>


  <div class="norskgramar">


    <div class="line">
      <div class="norskcardmaintitle">
        Adjectiv
        <span class="comment">Adjectives</span>
      </div>
    </div>
    <div class="line">
      <div class="norskcardmaintitle">
        Kjønn
        <span class="comment">Gender</span>
      </div>
      <div class="norskcardmaintitle">
        Entall
        <span class="comment">Singular</span>
      </div>
      <div class="norskcardmaintitle">
        Flertall
        <span class="comment">Plural</span>
      </div>
    </div>

    <div class="line">

      <div class="norskcardcategory">
        <div class="norskcardtitle">

          <span class="comment"></span>
        </div>
        <div class="norskcardtitle">
        hankjønn
        <span class="comment">masculine</span>
        </div>
        <div class="norskcardtitle">
        hunkjønn
        <span class="comment">feminine</span>
        </div>
        <div class="norskcardtitle">
        intetkjønn
        <span class="comment">   neuter   </span>
        </div>
        <div class="norskcardtitle">
        hankjønn
        <span class="comment">masculine</span>
        </div>
        <div class="norskcardtitle">
        hunkjønn
        <span class="comment">feminine</span>
        </div>
        <div class="norskcardtitle">
        intetkjønn
        <span class="comment">   neuter   </span>
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">

          <span class="comment"></span>
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>
        <div class="norskcard">
        -
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
         ubestemt
          <span class="comment">indefinite</span>
        </div>
        <div class="norskcard">
        en fin bil
        </div>
        <div class="norskcard">
        ei fin jakke
        </div>
        <div class="norskcard">
        et fint hus
        </div>
        <div class="norskcard">
        en liten bil
        </div>
        <div class="norskcard">
        ei lita jakke
        </div>
        <div class="norskcard">
        et lite hus
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
          bestemt
          <span class="comment">definite</span>
        </div>
        <div class="norskcard">
        den fine bilen
        </div>
        <div class="norskcard">
        den fine jakka
        </div>
        <div class="norskcard">
        det fine huset
        </div>
        <div class="norskcard">
        den lille bilen
        </div>
        <div class="norskcard">
        den lille jakka
        </div>
        <div class="norskcard">
        det lille huset
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
          ubestemt
          <span class="comment">indefinite</span>
        </div>
        <div class="norskcard">
        fine biler
        </div>
        <div class="norskcard">
        fine jakker
        </div>
        <div class="norskcard">
        fine hus
        </div>
        <div class="norskcard">
        små biler
        </div>
        <div class="norskcard">
        små jakker
        </div>
        <div class="norskcard">
        små hus
        </div>

      </div>

      <div class="norskcardcategory">
        <div class="norskcardtitle">
          bestemt
          <span class="comment">definite</span>
        </div>
        <div class="norskcard">
        de fine bilene
        </div>
        <div class="norskcard">
        de fine jakkene
        </div>
        <div class="norskcard">
        de fine husene
        </div>
        <div class="norskcard">
        de små bilene
        </div>
        <div class="norskcard">
        de små jakkene
        </div>
        <div class="norskcard">
        de små husene
        </div>

      </div>


    </div>
  </div>

</div>
