<div class="norskbody">

  <div class="navigation">
  <%= link_to "setninger", norsksetninger_path, :class=>"navigationbutton" %>
  <%= link_to "adjectiv", norskadjectiv_path, :class=>"navigationbutton" %>
  <%= link_to "substantiv", norsksubstantiv_path, :class=>"navigationbutton" %>
  <%= link_to "ordbok", norskordbok_path, :class=>"navigationbutton" %>
  </div>


</div>
