<div class="patrykpysiakbody">
  <div class="mybutton">
    <h1>Work in progress...!</h1>
  </div>

  <div class="page">
    <div class="pagetextbackground">
      <div class="textbox">
        <h1>Hello!</h1>
        <p>I'm Patryk.</p>
        <p>A full-stack developer, passionate about providing solutions through code and fascinated with the union of beauty and function in design.</p>
      </div>
    </div>
  </div>

</div>
