<div class="patrykpysiakbody">
    <div class="buttondiv">
      <a class="mybutton" href="https://www.linkedin.com/in/patryk-pysiak/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="mybutton" href="https://github.com/PatrykPysiak" target="_blank">
        <i class="fa-brands fa-square-github"></i>
      </a>
    </div>

    <div class="imagebackground">
    </div>

    <div class="page">
      <div class="pagetextbackground">
        <div class="textbox">
          <h1>Hello!</h1>
          <p>I'm Patryk.</p>
          <p>A full-stack developer, passionate about providing solutions through code and fascinated with the union of beauty and function in design.</p>
        </div>
      </div>
    </div>

    <div class="profileimage">
    </div>
  <div class="blackfade">
  </div>
</div>
